body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:  #E8CEBF;
  }
  
  .calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  #display {
    width: 90%;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
  }
  
  button {
    font-size: 20px;
    padding: 10px;
    background-color: #398f6b;
    border: 1px solid #631903;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ee1a84;
  }
  